# ESP-IDF build output
build/
sdkconfig.old

# macOS
.DS_Store

# ESP-IDF managed dependencies
managed_components/

# Python
venv/
.venv/
__pycache__/

# VS Code
.vscode/

# CLion
.idea/

# Python test cache
.pytest_cache/
